html{
    font-size: 16px;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 480px;
    margin: auto;
}

header{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#page-title{
    flex: 1;
    font-weight: bold;
}

.profile-icon{
    position: relative; 
    display: inline;
}

.profile-icon .profile-ball{
    background-color: #22ad5c;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    border-radius: 9px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#notification-icon{
    position: relative; 
    display: inline;
    font-size: 1.4rem;
}

#notification-icon a{
    color: white;
}

#container-notifications{
    display: none;
    position: absolute;
    top: 40px;
    right: -30px;
    width: 50vw;
    max-width: 250px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    filter: drop-shadow(2px 2px 4px #27252565);
    z-index: 1;
    color: black;
}

#arrow-container-notifications{
    display: none;
    position: absolute;
    z-index: 2;
    top: 25px;
}

#notification-icon a:hover #container-notifications, #notification-icon a:hover #arrow-container-notifications{
    display: flex;
}

.card-notification-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-cancel{
    background-color: white;
    color: #0284C7;
    border: 1px solid #0284C7;
    border-radius: 4px;
    padding: 4px 16px;
    height: 28px;
    margin-top: 0px;
}

.card-notification{
    padding-left: 20px;
    padding-right: 20px;
}

.card-notification-title{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-notification-body{
    font-size: 0.8rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-notification-photo{
    display: flex;
}

#notification-ball{
    background-color: white;
    border: 2px solid black;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    position: absolute;
    top: 0px;
    right: -2px;
}

#menu-icon{
    display: inline;
}

#container-form-post{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

#container-form-post-options{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
}

#container-form-post-options-icons{
    flex: 1;
    display: flex;
    flex-direction: row;
}

#form-post{
    display: flex;
    flex-direction: column;
}

a.form-post-icon{
    color: #61646b;
    margin-right: 10px;
}

textarea{
    flex: 1;
    border-radius: 8px;
    padding: 10px;
    color: #61646b;
    font-size: 0.9rem;
}

.container-post{
    background-color: #fafafa;
    padding: 16px 8px;
    border-radius: 4px;
    margin: 10px 5px;
}

.container-post-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-post-user-photo{
    display: flex;
}

.container-post-user-name{
    font-weight: bold;
    margin-left: 15px;
    flex: 1;
}

.container-post-text{
    font-size: 0.8rem;
    color: #61646b;
    margin: 16px 0px;
    line-height: 1.2rem;
}

.container-post-media{
    flex: 1;
    display: flex;
}

.container-post-media img{
    width: 100%;
}

.container-post-options{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.container-post-options-icons{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

.container-post-options-icons-reaction{
    display: flex;
    flex-direction: column;
}

.container-post-options-icons-reaction span{
    font-size: 0.8rem;
    color: #61646b;
}

.link-comment{
    color: #61646b;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link-comment i{
    font-size: 1.5rem;
}

.link-comment span{
    font-size: 0.8rem;
    margin-left: 5px;
}

a.link-reaction{
    text-decoration: none;
    position: relative;
}

.container-reactions{
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    border-radius: 37px;
    padding: 8px;
    gap: 16px;
}

a.link-reaction:link .container-reactions, a.link-reaction:visited .container-reactions{
    display: none;
}

a.link-reaction:hover .container-reactions{
    display: flex;
    position: absolute;
    top: -40px;
    left: 0px;
}